{% extends "./base.jinja2" %}

{% block content %}
  <div class="mx-auto max-w-4xl px-4 py-8 sm:py-12">
    {% include "header.jinja2" with description=username actions=header_actions %}

    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
