{% extends "./base.jinja2" %}

{% block content %}
  <main class="min-h-screen flex items-center justify-center px-4 sm:px-6 bg-gray-50">
    <div class="w-full max-w-md p-6 sm:p-8 rounded-lg shadow-md bg-white border border-slate-300">
      {% block auth_content %}{% endblock %}
    </div>
  </main>
{% endblock %}
